ul {
  background-color: black;
  list-style: none;
  white-space: nowrap;
}

li {
  display: inline;
  /* Puedes agregar más estilo aquí si es necesario */
}

img {
  width: 1500px;  /* Ancho de 1020 píxeles */
  height: 200px;  /* Alto de 100 píxeles */
  object-fit: cover; /* Mantiene la proporción de la imagen y cubre el contenedor */
  margin-top: 0; /* Ajusta según sea necesario */
}

/* Main container */
.main-container {
  /* background-color: black; */
  width: 100%; /* Cambiado para ser responsivo */
  max-width: 1440px; /* Ancho máximo */
  height: 200px;
  margin: 15px auto; /* Centrado automático */
  position: relative;
  /* border: 2px solid black; Borde del botón */
  /* border-radius: 20px; */
}

/* Slider container */
.slider-container {
  position: relative;
  height: 100%;
}

/* Dots carrusel */
.dots-container {
  display: flex;
  justify-content: center;
}

.dot-container-item {
  margin: 8px 3px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

/* Arrows */
.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.container-images {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #eee;
  overflow: hidden;
}

/* Active dot */
.dot-container-item.active {
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
